<div class="container">
  <h2>Shopping list</h2>
  <% if @recipe_model.errors.any? %>
      <div id="error_explanation">
        <h3><%= pluralize(@recipe_model.errors.count, "error") %> prohibited this post from being saved:</h3>

        <ul>
          <% @recipe_model.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
  <%= form_for @recipe_model, :html => {role: 'form'} do |f| %>
      <div class="form-group">
        <%= f.label :name, 'Shopping list name' %>
        <%= f.text_field :name, :class => 'form-control' %>
        <br/>
      </div>

      <div class="form-group">
        <%= f.label :items_text, 'Items to buy' %>
        <%= text_area_tag :items_text, nil, :class => 'form-control', :rows => 10 %>
        <br/>
      </div>

      <div class="form-group">
        <%= f.label :email, 'Your email' %>
        <%= text_field_tag :email, nil, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :url, 'Recipe url, if you copy the list from some page' %>
        <%= f.text_field :url, :class => 'form-control' %>
      </div>

      <%= f.submit 'Create', :class => 'btn btn-default' %>
  <% end %>
</div>