<!DOCTYPE html>
<html>
<head>
  <title>Recipe</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <%= link_to root_path, :class => 'navbar-brand' do %>
        <span class="glyphicon glyphicon-home"></span>
        <span>Easy Groceries</span>
    <% end %>

    <p class="navbar-text navbar-right">
      <%= link_to 'About', about_path, :class => 'navbar-link' %>
    </p>
  </div>
</nav>

<%= yield %>

</body>
</html>
